<!-------------------BODY -------------------->
<!-- Carousel #1 -->
<h1>CHOOSE YOUR RACE</h1>
<hr>

<body class="carousel-bg">
  <!-- Carousel Image -->
  <div>
    <img
      src="https://image.winudf.com/v2/image1/Y29tLmFuZHJvaWRib2subXlmaXJzdHJlc291cmNldGVzdGVyYXBwX2ljb25fMTU2NzAxMjk5Ml8wMzE/icon.png?w=170&fakeurl=1"
      class="img-responsive quote-image">
  </div>
  <!-- Carousel Start below -->
  <div id="carousel1" class="carousel slide testimonial-style" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel1" data-slide-to="0" class="active"></li>
      <li data-target="#carousel1" data-slide-to="1"></li>
      <li data-target="#carousel1" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="carousel-caption testimonial-caption-style">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Vitae semper quis lectus nulla at volutpat diam.</p>
          <p class="testimonial-authors">Dwarf</p>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption testimonial-caption-style">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Vitae semper quis lectus nulla at volutpat diam.</p>
          <p class="testimonial-authors">Human</p>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption testimonial-caption-style">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Vitae semper quis lectus nulla at volutpat diam.</p>
          <p class="testimonial-authors">Elf</p>
        </div>
      </div>
    </div>

    <a class="left carousel-control" href="#carousel1" data-slide="prev"> <span
        class="glyphicon glyphicon-chevron-left"></span> </a>
    <a class="right carousel-control" href="#carousel1" data-slide="next"> <span
        class="glyphicon glyphicon-chevron-right"></span> </a>
  </div>


  <!-- Carousel #2 -->
  <hr>
  <h1>CHOOSE YOUR CLASS</h1>
  <hr>

  <body class="carousel-bg2">
    <!-- Carousel Image -->
    <div>
      <img
        src="https://image.winudf.com/v2/image1/Y29tLmFuZHJvaWRib2subXlmaXJzdHJlc291cmNldGVzdGVyYXBwX2ljb25fMTU2NzAxMjk5Ml8wMzE/icon.png?w=170&fakeurl=1"
        class="img-responsive quote-image">
    </div>
    <!-- Carousel Start below -->
    <div id="carousel2" class="carousel slide testimonial-style" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel2" data-slide-to="1"></li>
        <li data-target="#carousel2" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="carousel-caption testimonial-caption-style">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Vitae semper quis lectus nulla at volutpat diam.</p>
            <p class="testimonial-authors">Wizard</p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption testimonial-caption-style">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Vitae semper quis lectus nulla at volutpat diam.</p>
            <p class="testimonial-authors">Rouge</p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption testimonial-caption-style">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Vitae semper quis lectus nulla at volutpat diam.</p>
            <p class="testimonial-authors">Monk</p>
          </div>
        </div>
      </div>

      <!-- Controls -->

      <a class="left carousel-control" href="#carousel2" data-slide="prev"> <span
          class="glyphicon glyphicon-chevron-left"></span> </a>
      <a class="right carousel-control" href="#carousel2" data-slide="next"> <span
          class="glyphicon glyphicon-chevron-right"></span> </a>
    </div>
  </body>

  <!-- Ability Range Sliders -->
  <hr>
  <h1>SET YOUR ABILITY SCORE</h1>
  <hr>
  <div class="ability-score">
    <div class="range-slider">
      <h2>Strength</h2>
      <input class="range-slider__range" type="range" value="45" min="0" max="50">
      <span class="range-slider__value">20</span>
    </div>


    <div class="range-slider">
      <h2>Dexterity</h2>
      <input class="range-slider__range" type="range" value="25" min="0" max="50" step="5">
      <span class="range-slider__value">0</span>
    </div>


    <div class="range-slider">
      <h2>Constitution</h2>
      <input class="range-slider__range" type="range" value="0" min="0" max="50">
      <span class="range-slider__value">0</span>
    </div>


    <div class="range-slider">
      <h2>Intelligence</h2>
      <input class="range-slider__range" type="range" value="0" min="0" max="50">
      <span class="range-slider__value">0</span>
    </div>


    <div class="range-slider">
      <h2>Wisdom</h2>
      <input class="range-slider__range" type="range" value="0" min="0" max="50">
      <span class="range-slider__value">0</span>
    </div>


    <div class="range-slider">
      <h2>Charisma</h2>
      <input class="range-slider__range" type="range" value="0" min="0" max="50">
      <span class="range-slider__value">0</span>
    </div>
  </div>

  <script>
    var rangeSlider = function () {
      var slider = $('.range-slider'),
        range = $('.range-slider__range'),
        value = $('.range-slider__value');

      slider.each(function () {

        value.each(function () {
          var value = $(this).prev().attr('value');
          $(this).html(value);
        });

        range.on('input', function () {
          $(this).next(value).html(this.value);
        });
      });
    };

    rangeSlider();

  </script>

  <br>
  <hr>
  <a href="editor">
    <button type="button" class="btn btn-info2" style="margin-bottom: 20px;">CREATE CHARACTER
    </button>
  </a>
  <hr>

  <script>
    //  ----------CAROUSELS -----------------

    $(document).ready(function () {
      $("#myCarousel").on("slide.bs.carousel", function (e) {
        var $e = $(e.relatedTarget);
        var idx = $e.index();
        var itemsPerSlide = 3;
        var totalItems = $(".carousel-item").length;

        if (idx >= totalItems - (itemsPerSlide - 1)) {
          var it = itemsPerSlide - (totalItems - idx);
          for (var i = 0; i < it; i++) {
            // append slides to end
            if (e.direction == "left") {
              $(".carousel-item")
                .eq(i)
                .appendTo(".carousel-inner");
            } else {
              $(".carousel-item")
                .eq(0)
                .appendTo($(this).find(".carousel-inner"));
            }
          }
        }
      });
    });
  </script>