<body>
    <div class="col-sm-5"></div>
    <div class="col">
        <div class="col g-signin2" data-onsuccess="onSignIn"></div>
    </div>
</body>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        $.post('/login', JSON.stringify(profile.getId()));
    }
</script>