<body>
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align: center; color:darkslategrey">HELLO PATHFINDER!</h1>
            <h3 style="text-align: center; color:darkslategrey">Please login to begin your adventure</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="col-sm-4"></div>
                <div class="col g-signin2" data-onsuccess="onSignIn"></div>
            </div>
       
    </div>
</body>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        window.location.pathname = `/create/${profile.getId()}`;
    }
</script>
