.jumbotron {
    background-image: url('../images/map.png');
    background-repeat: repeat;
    font-family: 'Audiowide', cursive;
    opacity: .7;
    color: white;
    text-shadow: black;
    text-decoration: solid;
    height: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
 
  }

  footer {
    background-image: url('../images/map.png');
    background-position: bottom;
    height: 20%;
    Width: 100%;
    bottom: 0;
    opacity: .8;
    text-align: center;
    margin-top: 50px;
  }

body{
	font-family: 'Lato', sans-serif;
}


.service-section .service-tab{
	/* padding: 0;
	margin:  0; */
	display: flex;
	width: 100%;
	border: none;
	height:200px;
	overflow: hidden;
}
.service-section .service-tab li{
	display: table;
	float:  none;
	width:  25%;
	text-align: center;
}

.service-section .service-tab li a{
	background-color: #69868e;
	padding: 40px;
	border-radius: 0;
	margin-right: 0;
	border-width: 5px 0 0 0;
	border-style: solid;
	border-color: transparent;
}
.service-section .service-tab li.active a, .service-section .service-tab li a:hover{
	background-color: rgb(rgb(255, 255, 255), green, blue);
	border-width: 5px 0 0 0;
	border-style: solid;
	border-color: #ed145b;
}
.service-section .service-tab li a i{
	width: 67px;
	height: 67px;
	line-height: 67px;
	background-color: #2b210f;
	color: #1f242f;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.service-section .service-tab li.active a i, .service-section .service-tab li a:hover i{
	background-color: #fff200;
	color: #131720;
}
.service-section .service-tab li a h3{
	color: #b4bccf;
	line-height: 20px;
	font-weight: 700;
}
.service-section .service-tab li.active a h5, .service-section .service-tab li a:hover h5{
	color: #354767;
}
.service-section .service-tab li a p{
	line-height: 20px;
	color: #03194b;
}
.service-section .service-tab li.active a p, .service-section .service-tab li a:hover p{
	color: rgb(84, 37, 37);
}

.service-section .service-tab-content h3{
	margin-top: 0;

}
.service-section .service-tab-content p{
	color: #b4bccf;
	font-size: 16px;
	line-height: 26px;
}

.service-section .service-tab-content{
    padding-top: 60px;
    
}

.service-section .tab-image-ex-gap{
    padding-top: 50px;
    padding-bottom: 60px;
}

/* Range Sliders */

/* *, *:before, *:after {
  box-sizing: border-box;
} */

body {
  font-family: sans-serif;
  /* padding: 60px 20px; */
}
/* @media (min-width: 600px) {
  body {
    padding: 60px;
  }
} */

.range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: "";
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}


button {
  height:50px; 
  width:200px; 
  margin: 0px; 
  position:relative;
  top:50%; 
  left:45%;
}

/* User input  */
#body {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding-top: 40px;
    min-height: 24em;

    background: #F6F6F6;
}
.noteContainer {
    max-width: 50%;
    min-width: 700px;
    padding: 40px 30px 40px 30px;

    border-radius: 30px;
    background: white;
}
#body h1 {
    font-size: 32px;
    color: #333;
    font-weight: bold;
}
.savedNote {
    margin: 20px 0 20px 0;

    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: #efefef 0 8px 20px;
}
.savedNoteTitle {
    font-size: 21px;
    color: #333;
    font-weight: bold;
}
.greenButton {
    /* margin: 20px 0 20px 0; */

    background: #39DEAB;
    /* padding: 15px 25px 15px 25px; */
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    text-align: centered;
    color: white;
    cursor: pointer;
    transition: 0.2s all;
}
.greenButton:hover {
    background: #39DEAB;
    box-shadow: 0 10px 20px #a8ffe4;
}
.noteTitle {
    margin-top: 10px;   

    width: 100%;
    border: #E0E0E0 1px solid;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
}
.noteBody {
    margin-top: 10px;

    width: 100%;
    border: #E0E0E0 1px solid;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    min-height: 100px;
}
.cancelButton {
    margin-left: 20px;
    color: #999;
    cursor: pointer;
    border-radius: 100px;
}
.cancelButton:hover {
    color: rgb(184, 184, 184);
}
.noteCreator {
    transition: 0.2s all;
}
.show {
    opacity: 1;
    transition: opacity 500ms;
}
.hide {
    opacity: 0;
    transition: opacity 100ms;
}
.deleteButton {
    font-size: 14px;
    border: 1px #e45757 solid;
    padding: 10px 20px 10px 20px;
    margin-top: 17px;
    text-transform: uppercase;
    color: #e45757;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: 0.2s all;
}
.deleteButton:hover {
    background: #e45757;
    color: white;
}

#sbOne, #sbTwo {
    color: seagreen;
    min-width: 300px;
    min-height: 200px;
    padding: 30px;
    
}